:root{
    --main--bg-color: #56ab2f;  /* fallback for old browsers */
    --main-gw-background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    --main-gl-background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
*{
    margin:0;
    padding: 0;
    font-family: robotmedium;
}
body{
    background-image: url(../pictures/background.png);
    overflow-x: hidden;
}
header{
    text-align: center;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 11111111;
    
}
main
{
margin-top: 120px;
}
#container-green{
    border-radius: 0 0 20px 20px;
    background-color: var(  --main--bg-color);
    background: var(     --main-gw-background);
    background: var(   --main-gl-background);
    box-shadow: #56ab2f 0 0 20px -1px;
    width:94vw;
    padding: 5px;
    margin: 0 auto;
    height: 40px;
    display: grid;
 
    display: grid;
  grid-template-columns: repeat(8,1fr);
    grid-template-areas:
      "logo   search search   icons icons . . price ";
}
#logo-container{
    grid-area:logo;
}
#container-search{
    position: relative;
    grid-area:search;
    margin: 4px 0;
}
#container-icon{
    grid-area:icons;
    margin: 2px 0;

}
.icon-nav{
    height: 40px;
}
#price-box{
    grid-area:price;
    background-color:white;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    margin:6px 0;
    text-align: center;
position: relative;
box-shadow: #2c760a 0 0 20px -1px;

}
#price-icon{
    left:2px;
    top:2px;
    position: absolute;
}
#price-dh{
color:#56ab2f;
left:50px;   
 top:8px;

    position: absolute;
}
#search-box{
    box-shadow: #408c1d 0 0 20px -1px;

    position: relative;
    border:2px solid #56ab2f;
    border-radius:20px;
    outline: none;
    width:95%;
    height:30px;
    margin:px;
    cursor:text;
    padding: 0 0 0 10px;
    color:green;
    font-family: robotbold;
}
#search-icon{
position: absolute;
top:3px;
right:5px;
cursor: pointer;
grid-area: searchicon;
}
#menu{
    border: 2px solid #56ab2f;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    border-radius: 0 0 30px 30px;
    text-align: center;
}
#menu-2{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-self: center;
  justify-items: center;
      text-align: center;


}
#menu-2 div{
    width: 70%;
    display: flex;
}

#menu-2 div img{
width:50px;
height: 50px;
}
    #menu-2 div a{
    text-decoration: none;
padding: 5px;
color:white;
margin:  auto;
width: 180px;
border-radius: 40px;

}
#bleu-nav{
    background-color: rgb(2 126 193);

}

#move-nav{
    background-color: rgba(141, 0, 148, 0.966);
}

#gre-nav{
    background-color: rgb(37, 189, 7);

}

#green-nav{
    background-color: rgb(21, 128, 7);


}
#welcome-head{
    margin:20px 0;
    background-color: #56ab2f;
    position: relative;
    height: 80px;
    background-color: var(  --main--bg-color);
    background: var(     --main-gw-background);
    background: var(   --main-gl-background);
    box-shadow: #56ab2f 0 0 20px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:#2c760a solid 2px;
    border-bottom:#2c760a solid 2px;

}
#welcome-head img{
margin:0 20px;
width: 40px;
height: 60px;
}
#welcome-head h1{
    color:white;
}


#conatiner-khmissa-cat{
    display: flex;

    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin:10px auto  100px;
}

.box-cat{
width:170px;
height:200px;
background-color: #59b359;
border-radius: 10px;
border: solid 2px #058a27 ;
position: relative;


}
#box-reclame{
    background-color: #1478e2;
border: solid 2px #0a53a0 ;
}
#box-market-bg{
background-image: url(../pictures/khmissa.png);
background-position: center;
background-size: cover;
width:250px;
height:250px;
position: absolute;
top:-20px;
left:-40px;
}
#box-pro{
    background-color: #b54486;
    border: solid 2px #831d6f ;
}



#box-reclame-bg{
    background-image: url(../pictures/reclame.png);
    background-position: center;
    background-size: cover;
    width:250px;
    height:250px;
    position: absolute;
    top:-20px;
    left:-40px;
    }
    #box-pro-bg{
        background-image: url(../pictures/khmissapro.png);
        background-position: center;
        background-size: cover;
        width:250px;
        height:250px;
        position: absolute;
        top:-20px;
        left:-40px;
        text-align: center;

        }
.khmissamarket-cat{
    cursor: pointer;
    width:110px;
    position: absolute;
    top:190px;
    left:50px;
}
    


#container-bottom-home{
height: 20px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
border-top: #2c760a solid 10px;
padding:30px 0 0 0 ;
position: relative;
}

#container-bottom-home img{
    position: absolute;
    height: 150px;
    width: 150px;
    top:-100px;
}
#container-bottom-home p{
color:#12a712;
font-size: 18px;
}
#container-bottom-home #handleft{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 8%;
}
#container-bottom-home #handright{
    position: absolute;
    height: 150px;
    width: 150px;
    right: 8%;
    
}
#bottom-box-home{
    width:90%;
    height: 40px;
    background-color: #3b9746;
    margin:20px auto 0;   
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    position: relative;
}
#bottom-box-home span{
    width:80px;
    height: 10px;
    background-color: #e9e9e9;
    position: absolute;
    top:10px;
    border-radius: 20px;
    }

/*-----------------------------PAGE 2---------------------------*/

#container-catalog{
position: relative;
width: 100%;
height:75vh;
margin:50px auto 0;
}
#backimg-cata{
position: absolute;
right:10%;
height: 100%;
z-index: 1;

}
#backimg-cata-bg{
    position: absolute;
    height: 100%;
width: 30%;
right:5%;

}
#container-catalog-back{
    background-image: url(../pictures/backcat2.png);
    background-position:90%;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    /*margin:100px 0 0 0;-*/
    position: relative;    
}


#conatianer-cat-title{
    background-color: #59b359;
    color:white;
    padding:5px 10px;
    position: absolute;
    border-radius: 20px;
    top:8%;
    left:15%;
}
#conatianer-cat{
    text-align: center;
    position: absolute;
    top:18%;
    left:15%;
    background-color: rgb(86, 180, 86,0.5);
    width: 220px;
   height: 210px;
   border-radius: 20px;
}
#conatianer-cat-img{
    width: 80%;
    height: 100%;
}
#container-div-cat{
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to right, #ffffff, #f0f3f5, #dfe8e9, #d2dcd8, #cbcfc4);    position: absolute;
    bottom:20px;
    z-index: 1111;

}
#container-box-catalog{
display: flex;
justify-content: space-around;
margin:0 auto;
width: 80%;
}
#handleft-box{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 2%;
    top:10px;
}
#handright-box{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 2%;
    top:10px;

}
.box-catalog{
    width:  220px;
    height: 150px;
    margin:-15px 0 10px 0;
    border-radius: 10px;
    position: relative;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left:25%;
    top:-25%;
    border:solid 5px #0e6fd8;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
}
.circle img{
width: 60%;
margin:10px 0;
}
#box-blue-cat{
    background-color: #0e6fd8;

}
#box-move-cat{
    background-color: #aa3a97;

}
#box-green-cat{
    background-color: #2d770a;

}
#circle-move{
    border:solid 5px #aa3a97;

}
#circle-green{
    border:solid 5px  #2d770a;
 }

.info-cataloge{
    color:white;
    margin:80px auto 0px;
    font-size: 8px;
    padding: 5px;
    text-align: center;
    width: 80%;
}
.info-cataloge h3{
    font-size: 16px;
    margin:0 0 5px;
}
container-catalog #bottom-box-home{
    
    width:90%;
    height: 40px;
    background-color: #3b9746;
    margin:0px auto 0;   
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    position: relative;
}
/*-----------------PAGE3-------------------*/
#container-offre{
    position: relative;
margin:50px auto;
}
#container-slider-offre{
    background-color: rgb(89, 179, 89,0.5);
    height: 300px;
    border:2px solid #058a27;
    border-radius: 20px;
    width: 50%;
    margin:20px auto;
    position: relative;

}
.content-offre{
    height: 300px;
    position: relative;
    display: flex;
}
.content-offre img{
    height: 100%;
    margin: -15px 0 10px;
}

#text-container-offre{
 color:white;
    height: 100%;
    text-align: center;
    padding:20px 20px;
}
#text-container-offre #titre-promo{
font-size: 35px;
font-family: Montserratregular;
margin:10px auto;
}
#text-container-offre #promotion{
    background-color: #2d770a;
    margin:10px auto;
    width: fit-content;
    font-size: 14px;
    padding:5px  10px;
    border-radius: 30px;
    text-align: center;
}
#text-container-offre #description{
    font-size: 10px;
    text-align: justify;

}

#text-container-offre #bottom-content-offre{
background-color: white;
height: 50px;
display: flex;
justify-content: space-between;
color:#14ce42;
border: solid 2px #14ce42;
border-radius: 10px;
position: relative;
margin: 10px;
padding:10px 25px;
}
#text-container-offre #price-offre{
font-size: 50px;
font-weight: bolder;
font-family: robotbold;
}
#text-container-offre #cents,#dh{
    font-size: 20px;
}
#text-container-offre  #dh{
    position:absolute;
    top:25%;
    left:26%;
}
#text-container-offre #ajouterpanier-btn{
    outline: solid 1px #14ce42 ;
    border: solid 5px white;
    background-color: #14ce42;
    width: 200px;
    height: 40px;
    color:white;
    cursor: pointer;
    border-radius: 20px;
    margin:5px 0;
}
#container-tous-prod-bottom{
position: relative;
width: 400px;
height: 40px;
background-color: #14ce42;
border-radius: 50px;
margin:10px auto;
text-align: center;
padding:20px 10px;
}
#container-tous-prod-bottom #tous-prod-btn{
    outline: solid 1px #14ce42 ;
    border: solid 5px white;
    background-color: white;
    width: 300px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    color:#04641c;
    text-decoration:underline;
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle;

}
#container-tous-prod-bottom img{
width:40px;
height: 40px;
vertical-align: middle;
cursor: pointer;
}
#handleft-offre,#handright-offre{
    position: absolute;
    width: 150px;
    height: 150px;
}
#handright-offre{
    right:0%;
    bottom: -120px;
}
#handleft-offre{
    left:0%;
    bottom: -120px;
}
#container-savoir{
    margin:150px auto;
}
/*------------------STARS---------------------------------------*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*-------------------STARS---------------------------------------*/





  

  









@media screen and (max-width: 1024px) {
    #container-green{
        border-radius: 0 0 20px 20px;
       
        width:100vw;
        position: relative;
        padding: 5px;
        margin: 0 auto;
        height: 40px;
        display: grid;
     
        display: grid;
      grid-template-columns: repeat(6,1fr);
        grid-template-areas:
          " search logo logo  search  price ";
    }
    #container-search{
        position: relative;
        grid-area:search;
    }

    #search-icon{
        position: relative;
        cursor: pointer;
        grid-area: searchicon;
        }
    #search-box{
        display: none;
    }   
}